.list-title {
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features {
    padding: 120px 156px;
}

.list-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 0;
}

.features .container {
    flex-direction: column;
}

.features-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.features .list {
    width: 264px;
}