.footer {
    background-color: #2E2F42;
    padding: 100px 156px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer .logo {
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer .accent {
    font-weight: 700;
    font-size: 18px;
    /* line-height: 24px; */
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer .container {
    display: flex;
    align-items: center;
}

.footer .container-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}