.header .logo {
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.page-nav .link {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.page-nav .link:hover {
    color: #404bbf;
}

.page-nav .link:focus {
    color: #404bbf;
}

.address .link {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.address .link:hover {
    color: #404bbf;
}

.address .link:focus {
    color: #404bbf;
}

.header .accent {
    font-weight: 700;
    font-size: 18px;
    /* line-height: 24px; */
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}