.hero {
    background-color: #2E2F42;
    padding: 188px 141px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto 48px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}